<section class="content-header">
  <h1>
    Thêm mới sản phẩm
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <%= render "form" %>
      </div>
    </div>
  </div>
</section>
